### Go module ###
go.mod
go.sum

### IntelliJ ###
.idea/
.idea/*
out/
out/*
*.iml


### VisualStudioCode ###
.vscode/
.vscode/*

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
